.my-comments {
  overflow: auto;
}
.main-comment {
  display: grid;
  grid-template-rows: auto 3fr auto;
  row-gap: 10px;
  height: 500px;
}

.comments-section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
}
